# Lab 1: Basic SQL and Jupiter Notebook

Please create your own database named lab1.db3

In [1]:
%CREATE lab1.db3

Q1: Write SQL statements to create a table called MyGraph that can store any directed graph ("graph" as in vertices andedges, or nodes and links). You have to carefully design the schema.

In [2]:
%load lab1.db3

Q2: Write SQL statements to store the following graph in your table

In [3]:
CREATE TABLE MyGraph(source int not NULL, destination int not NULL);

In [4]:
INSERT into MyGraph VALUES (5,11), (7,11), (7,8),(3,8),(3,10),(11,2),
(11,9),(11,10),(8,9)

Q3: Write a SQL statement that returns all source vertices in your table

In [5]:
SELECT DISTINCT source FROM MyGraph

+--------+
| source |
+--------+
| 5      |
+--------+
| 7      |
+--------+
| 3      |
+--------+
| 11     |
+--------+
| 8      |
+--------+

Q4: Write a SQL statement that returns all edges, such that the source id is larger than the destination id.

In [6]:
SELECT source, destination from MyGraph WHERE source > destination

+--------+-------------+
| source | destination |
+--------+-------------+
| 11     | 2           |
+--------+-------------+
| 11     | 9           |
+--------+-------------+
| 11     | 10          |
+--------+-------------+

Q5: Write a SQL statement to add a column of weight to each link on the direct graph

In [7]:
ALTER TABLE MyGraph add COLUMN weight INT

Q6: Write a SQL statement to ramdonly assign a weight (1-10) to each of the link. (generate a ramdon number with a seed.)

In [8]:
UPDATE MyGraph set weight = abs(random() % 11)

Q7: Write a SQL to return the distinct values of weights.

In [9]:
SELECT DISTINCT weight from MyGraph

+--------+
| weight |
+--------+
| 6      |
+--------+
| 3      |
+--------+
| 2      |
+--------+